<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
</head>

<body>

<a href="login">Перейти на странцу администратора</a>

<h4>Список всех пользователей</h4>

<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Name</td>
        <td style="width: 350px">Address</td>
        <td style="width: 350px">Phones</td>
    </tr>
    </thead>
    <tbody>
    <#list allUsers as user>
    <tr>
        <td>${user.id}</td>
        <td>${user.name}</td>
        <td>${user.addressDataSet.street}</td>
        <td>${user.phoneDataSet?map(phone -> phone.number)?join(", ")}</td>
    </tr>
    </#list>
    </tbody>
</table>

</body>
</html>
